html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}

a {
    color: #CB9B45;
    padding-left: 0.5em;
}

a:hover, a:focus {
    text-decoration: underline;
}

mat-card-header {
    justify-content: center;
    margin: 2%;
}

mat-error {
    margin-left: 1%;
    margin-bottom: 4%;
}

mat-card {
    margin-bottom: 3%;
}

.text-danger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%
}

.ng-invalid.ng-touched {
    border-color: red;
}
