<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-card>
        <app-dashboard-header></app-dashboard-header>

        <mat-card-header>
          <mat-card-title>Crypto Prices</mat-card-title>
          <mat-card-subtitle>Real-time market data for popular cryptocurrencies</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="row justify-content-center">
          <mat-form-field appearance="outline" class="dashboard-search-bar">
            <mat-label>Search for a cryptocurrency</mat-label>
            <input matInput type="text" placeholder="Enter a cryptocurrency name" [(ngModel)]="searchQuery" (input)="updateAssetsTable()">
          </mat-form-field>       

          <mat-table [dataSource]="assetsDataSource">
            <ng-container matColumnDef="rank">
              <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
              <mat-cell *matCellDef="let asset">{{asset.rank}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
              <mat-cell *matCellDef="let asset">{{asset.symbol}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let asset">{{asset.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef>Price (USD)</mat-header-cell>
              <mat-cell *matCellDef="let asset" [ngClass]="{'change-positive': asset.change24h > 0, 'change-negative': asset.change24h < 0}">
                ${{asset.price.toFixed(2)| number}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="change24h">
              <mat-header-cell *matHeaderCellDef>Change (24h)</mat-header-cell>
              <mat-cell *matCellDef="let asset" [ngClass]="{'change-positive': asset.change24h > 0, 'change-negative': asset.change24h < 0}">
                {{asset.change24h.toFixed(2)}}%
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
              <mat-cell *matCellDef="let asset">
                <button mat-icon-button (click)="viewAssetDetails(asset)">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let asset; columns: displayedColumns"></mat-row>
          </mat-table>
        </mat-card-content>
        <app-dashboard-footer></app-dashboard-footer>
      </mat-card>
    </div>
  </div>
</div>