body {
    background-color: #082335;
    color: #e1e1e1;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #082335;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-logo {
    display: block;
    margin: 20px auto;
    max-width: 250px;  
    height: auto;
}

.card-header, .card-footer {
    background-color: #082335;
    border: none;
    color: #CB9B45;
    padding: 15px;
}

.input-group {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-group-text {
    background-color: #082335;
    border: none;
    color: #CB9B45;
}

.btn-primary {
    background-color: #CB9B45;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #B29B45;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

a {
    color: #CB9B45;
}

a:hover, a:focus {
    text-decoration: underline;
}

.text-danger {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ng-invalid.ng-touched {
    border-color: red;
}